@mixin fonts($font, $size) {
    font-family: $font, sans-serif;
    font-size: $size;
}

.contact-icon {
    aspect-ratio: 2/3;
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.contact-icon:hover {
    transform: rotate(360deg);
    transition-duration: 2s;

}

.contact {
    display: flex;
    grid-area: contact;
    justify-content: space-around;
    margin-top: 10%;
    margin-bottom: 10%;
}

.contactame {
    @include fonts(Zen Dots, 16px);
    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas:
        "header"
        "home-h1"
        "main-cont"
        "footer";


}

.contactme {
    grid-area: h2;
    margin-top: 10%;
    margin-bottom: 10%;
    letter-spacing: 2px;
    font-size: 20px;
}

.cont-txt {
    background-color: rgba(255, 255, 255, 0.332);
    border-radius: 5%;
    padding: 5%;
    margin: 5%;
    grid-area: cont-txt;
}

.main-cont {
    display: flex;
    grid-area: main-cont;
    flex-direction: column;
    grid-template-areas:
        "h2"
        "contact"
        "cont-txt";
}

.lol {
    @include fonts(roboto, 16px)
}