.fig-img {
    display: grid;
    justify-items: center;
    grid-template-rows: 2fr;
    .img-cont {
            padding: 8%;
        }
    }

.img-txt{
    font-family: 'Zen dots', sans-serif;
    font-family: 62.5%;
}