@mixin sizes($width, $height){
    width: $width;
    height: $height;
}

.fig-img {
    display: grid;
    justify-items: center;
    grid-template-rows: 2fr;
    padding: 20px;
    .img-cont {
            padding: 8%;

        }
    }

    .img-txt{
    font-family: 'Zen dots', sans-serif;
    font-size: 16px;    
    color: white;
}

.img2,  .img22 {
    @include sizes(250px, 300px);
    border-radius: 5%;
}