@mixin sizes($width, $height){
    width: $width;
    height: $height;
}

@media (min-width:500px){
    .fig-img{
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
    }
    .img-txt {
        margin: 70% 10% 50% 1%;
    }
    .img2, .img22{
        @include sizes(325px ,488px);
        border-radius: 5%;
    }
}
@media (min-width:768px){
    .fig-img{
        column-gap: 2%;
    }
    .img2, .img22{
        @include sizes(550px ,825px);
        border-radius: 5%;
    }
    .img-txt{
        font-family: 'Zen dots', sans-serif;
        font-size: 18px;    
        color: white;
        letter-spacing: 5px;
    }
}